.character-info {
  padding: 40px 0;

  &__back {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: $color-text;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

