.character-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;

  &__inner {
      display: flex;
      gap: 28px;
      flex-direction: column;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    list-style-type: none;
  }
}
