.card {
  display: flex;
  gap: 13px;
  width: 508px;
  height: 248px;
  border-radius: 6px;
  padding: 7px;
  background-color: $color-background;
  font-family: $font-roboto;
  position: relative;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));

  &:hover {
    .card__edit {
      cursor: pointer;
      opacity: 1;
    }
  }

  &__photo {
    width: 240px;
    height: 234px;
    border-radius: 4px;
    overflow: hidden;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__edit {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15px;
    cursor: pointer;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__label {
    font-size: 16px;
    line-height: 21px;
  }

  &__value {
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: $color-text-dim;
  }

  &__status {
    display: flex;
    flex-direction: column;
  }
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
