.card {
  display: flex;
  gap: 13px;
  width: 508px;
  height: 248px;
  border-radius: 6px;
  padding: 7px;
  background-color: $color-background;
  font-family: $font-roboto;
  position: relative;
  border: 1px solid $color-border-color;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);

  &__apply {
    display: flex;
    gap: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &:hover {
    .card__edit {
      opacity: 1;
    }
  }

  &__edit {
    display: flex;
    gap: 8px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity .2s;
  }

  &__photo {
    width: 240px;
    height: 234px;
    border-radius: 4px;
    overflow: hidden;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__hide {
    opacity: 0;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15px;
    cursor: pointer;
  }

  &__location {
    font-size: 14px;
    line-height: 21px;
    color: $color-text-dim;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__input {
    font-size: 14px;
    height: 21px;
  }

  &__label {
    font-size: 16px;
    line-height: 21px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__value {
    font-size: 14px;
    line-height: 21px;
    color: $color-text-dim;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__status {
    display: flex;
    line-height: 21px;
    font-size: 14px;
    align-items: center;
    gap: 5px;
    color: $color-text-dim;

    > span {
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}