.input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;

  &-bordered {
    font-size: 16px;
  }

  &-underlined {
    font-weight: 500;
    font-size: 14px;
  }

  &:focus {
    outline: none;
  }
}

.input--box {
  display: flex;
  align-items: center;
  border: 1px solid $color-secondary;
  border-radius: 6px;
  padding: 16px 24px 16px 16px;
  cursor: pointer;
  position: relative;

  &-underlined {
    border: none;
    border-bottom: 1px solid $color-text;
    border-radius: 0;
    padding: 0 24px 0 0;
    height: 30px;
    width: 178px;
    min-width: 178px;
    font-weight: 800;
    font-size: 20px;
    z-index: 100;
  }
}

.input--inner {
  display: flex;
  gap: 8px;
}

.button {
  position: absolute;
  right: 8px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
