.loader {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: $color-text;
  }
}

.loader__image {
  animation: spin 11s linear infinite;

  &--large {
    width: 475px;
    height: 465px;
  }

  &--small {
    width: 103px;
    height: 101px;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}