$font-roboto: 'Roboto', sans-serif;
$font-family: 'Karla', sans-serif;
$color-background: #FFF;
$color-shadow: rgba(0, 0, 0, 0.1);
$color-text: #212121;
$color-secondary: #555555;
$color-text-dim: rgba(0, 0, 0, 0.6);
$color-stroke: #393939;
$color-border-color: #E0E0E0;