@font-face {
  font-family: 'Roboto-Italic';
  src: url('@/assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla-Italic';
  src: url('@/assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('@/assets/fonts/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}