.lang-toggle {
  background-color: $color-background;
  border-radius: 8px;
  border: 1px solid $color-stroke;
  width: 38px;
  height: 38px;
  font-size: 25px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text-dim;
  cursor: pointer;
}
